name: Build and Test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ARDUINO_LIBRARY_ENABLE_UNSAFE_INSTALL: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install dependencies
        run: |
          arduino-cli core update-index
          arduino-cli core install arduino:avr

      - name: Compile library
        run: |
          arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/Master/Master.ino
          arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/Slave/Slave.ino

  native_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y cmake

      - name: Build and run tests
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ctest
